.change-food-unit {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}
.base-weight-input {

    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.change-pack-unit {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;

}