*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App h1 {
  font-size: 30px;
  color: #0909e9a7;
  background-color: #dbdcdf3f;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  align-content: space-around;
}